body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Khula';
    font-weight: 400;   
}


/* Header */

a {
    text-decoration: none;
    color: #000;
}

.container {
    background-color: #FAFAFA;
    height: 116px;
}

.navigation {
    height: 116px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}   

.logo {
    height: 60px;
    width: 50px;
    padding-top: 30px;
}

.menu {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    padding-left: 71px;
}

.menu-text {
    margin-right: 71px;
    margin-top: auto;
    margin-bottom: auto;
}

.email {
    margin-top: auto;
    margin-bottom: auto;
}


/* Main */

.main {
    height: 700px;
    background-color: #F1F1F2;
}

.container-main {
    display: flex;
    width: 1440px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.content-main {
    height: 700px;
    width: 720px;
}

.container-text {
    display: block;
    margin: auto;
    padding-top: 66px;
    width: 433px;
    height: 634px;
}

.tagline {
    font-size: 65px;
}

.greeting {
    font-size: 18px;
}

.main-image {
    width: 720px;
    height: 700px;
    border-radius: 50%;
}

/* About-section */

.about {
    height: 820px;
}

.about-container {
    height: 820px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about-info {
    padding-top: 87px;
    padding-left: 458px;
}

.about-info-header {
    font-size: 40px;
    margin: 0;
    margin-bottom: 29px;
    padding-left: 167px;
}

.about-info-text {
    margin: 0;
    font-size: 20px;
}

.about-media{
    width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.about-media .about-card{
    position: relative;
    cursor: pointer;
}

.about-media .about-card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.about-media .about-card .face.face1{
    position: relative;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.about-media .about-card:hover .face.face1{
    background: #8800ff;
    transform: translateY(0);
}

.about-media .about-card .face.face1 .about-card-content{
    transition: 0.5s;

}

.about-media .about-card:hover .face.face1 .about-card-content{
    opacity: 1;
}

.about-media .about-card .face.face1 .about-card-content img{
    max-width: 100px;
}

.about-media .about-card .face.face1 .about-card-content h3{
    margin: 10px 0 0;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
}

.about-media .about-card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 30px rgba(255, 157, 0, 0.8);
    transform: translateY(-100px);
}

.about-media .about-card:hover .face.face2{
    transform: translateY(0);
}

.about-media .about-card .face.face2 .about-card-content p{
    margin: 0;
    padding: 0;
}

.about-media .about-card .face.face2 .about-card-content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.about-media .about-card .face.face2 .about-card-content a:hover{
    background: #333;
    color: #fff;
}

.about-card-image-container {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}


/* CTA-section */

.cta {
    height: 240px;
    background-color:#F7941E;
}

.cta-container {
    height: 240px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.cta-content {
    width: 403px;
    height: 90px;
    padding-top: 65px;
    padding-left: 235px;

}

.cta-content-ques {
    margin: 0;
    font-size: 32px;

}

.call-action {
    margin: 0;
    font-size: 32px;

}

.cta-btn-container {
    width: 210px;
    height: 63px;
    padding-left: 353px;
    padding-top: 79px; 
}

.cta-btn-hover {
    width: 210px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 63px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cta-btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cta-btn-hover:focus {
    outline: none;
}

.cta-btn-hover.color {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75)
}


/* Works */

.works {
    height: 800px;
}

.works-container {
    width: 1440px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.works-header {
    font-size: 40px;
    margin: 0;
    text-align: center;
    padding-top: 67px;
}

.works-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.work-card {
    display: block;
    background: #fff;
    padding: 24px;
    max-width: 380px;
    box-shadow: 0 5px 20px 0 rgb(255, 157, 0, 0.8);
}

.work-card-wrap {
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-position-y: 30%;
    margin-bottom: 1rem;
    border-radius: 40px;
}

.work-card-img-1 {
    background-image: url("image/works/telegram-bot.png")
}

.work-card-img-2 {
    background-image: url("image/works/team1_ppe.png")
}

.work-card-img-3 {
    background-image: url("image/works/emp_in_the_hero.png")
}
  
.work-card-header {
   font-size: 1.3rem;
   line-height: 1;
   text-decoration-line: none;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 3px;
   margin-bottom: 12px;
   color: inherit;
   transition: color .2s ease-out;  
}

.work-card-text {
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    line-clamp: initial;
    -webkit-line-clamp: initial;
    transition-property: -webkit-line-clamp, line-clamp;
    transition-duration: 300;
    transition-timing-function: ease-out;
}

/* Footer */

.footer {
    background: #FAFAFA;
    height: 410px;
}

.container-footer {
    width: 1440px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.logo-section {
    width: 1440px;
    height: 150px;
    margin: auto;
    display: flex;
}

.footer-logo {
    width: 60px;
    height: 60px;
    padding-top: 45px;
    padding-left: 690px;
}

.divi-container {
    width: 1440px;
    height: 80px;

}

.footer-divider {
    width: 1000px;
    height: 1px;
    padding-left: 220px;
    padding-top: 40px;
}

.social-container {
    width: 1440px;
    height: 71px; 
}

.feedback-links {
    width: 312px;
    height: 40px;
    padding-top: 16px;
    padding-left: 572px;
}

.feedback-icons {
    margin-right: 16px;
}

.createdbycont {
    width: 1440px;
    height: 108px;
}

.footer-copy-container {
    display: flex;
    padding-top: 44px;
    padding-left: 626px;
}

.copy-text {
    margin-right: 35px;
}